/* Main CSS sheet of HTMLpageDocs. */

// Global variables
$page-width: 210mm;
$page-height: 297mm;
$page-margin: 20mm;

/**
 * Default Page information 
 */
@page { 
  size: $page-width $page-height;
  margin: $page-margin;
}

/* Allow html do define precisely a page. */
.page {
  width: $page-width;
  height: $page-height;
  page-break-inside: avoid;
  page-break-before: always;
  page-break-after: always;
}

/** 
 * HEADING HIERARCHY
 * This defines the heading hierarchy when no theme is used, and styling associated. Default hierarchy is:
 * h1 = Title of the document. There should be only one in the document, usually in the first page (frontpage).
 * h2 = Part. Title will be on its own page.
 * h3 = Section. Will always start on its own page.
 * h4 = Subsection.
 * h5 = Subsubsection.
 * h6 = Paragraph
 */
h1 {
  font-size: 1.4em
}

/**
 * Special pages
 */

/* Landscape page */
.landscape { 
  page: landscape;
}

@page landscape { 
  size: $page-height $page-width landscape;
  margin: $page-margin;
}

/* Frontpage */
.frontpage { 
  @extend .page
  page: frontpage;
  width: $page-width; height: $page-height; // .frontpage element should fit on exactly one page.
  margin: 0;
  padding: 0;
}

@page frontpage {
  //nothing yet...
}


// .image-full {
//   width: 100%;
//   height: 100%;
// }

// h1, h2, h3, h4, h5 {
//   font-weight: bold;
//   page-break-after: avoid;
//   page-break-inside:avoid;
// }

// h1+p, h2+p, h3+p {
//   page-break-before: avoid;
// }

// table, figure {
//   page-break-inside: avoid;
// }



/**
 * Footnotes 
 */
@page {
  @footnotes {
    border-top: 0.6pt solid black;
    padding-top: 8pt;
  }
}

.footnote {
  float: footnote;
  counter-increment: footnote;
  &::footnote-call {
    content: counter(footnote);
    font-size: 9pt;
    vertical-align: super;
    line-height: none;
  }

  &::footnote-marker {
    font-weight: bold;
  }
}

/**
 * Table of content 
 */
ul.toc a {
  text-decoration: none;
  color: black;
  span {
    text-decoration: underline;
    color: blue;
  }

  &:after {
    content: leader('.') target-counter(attr(href), page);
  }
}